<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>17/02/20 13:20:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.my_journey_testscripts.LaunchLearningspace_TC_01@6fa38a]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@27640734</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/02/20 13:20:28</td>   <td>12804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchLearningspace_TC_01.testLaunchLearningSpace_TC_01()[pri:0, instance:education.volute.my_journey_testscripts.LaunchLearningspace_TC_01@6fa38a]">testLaunchLearningSpace_TC_01</td> 
  <td>main@27640734</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/20 13:22:32</td>   <td>137167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_users_testscripts.AddUsers_TC_01@a3ffec]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@27640734</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/02/20 13:22:43</td>   <td>147891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUsers_TC_01.testAddUserTC_01()[pri:0, instance:education.volute.manage_users_testscripts.AddUsers_TC_01@a3ffec]">testAddUserTC_01</td> 
  <td>main@27640734</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/20 13:23:50</td>   <td>215020</td> <td title="&lt;&lt;SuperTestScript.backUpSteps()[pri:0, instance:education.volute.collaborate_testscripts.AddRoomWithGroup_TC_02@d80b78]">&lt;&lt;backUpSteps</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27640734</td>   <td></td> </tr>
</table>
