<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:09:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_users_testscripts.AddUsers_TC_01@5cb137]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/02/22 09:10:12</td>   <td>13482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddUsers_TC_01.testAddUserTC_01()[pri:0, instance:education.volute.manage_users_testscripts.AddUsers_TC_01@5cb137]">testAddUserTC_01</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:12:59</td>   <td>181260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.manage_users_testscripts.AddUsers_TC_01@5cb137]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:13:03</td>   <td>185213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.notes_testscripts.DeleteNote_TC_03@d62f43]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/02/22 09:13:14</td>   <td>195717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteNote_TC_03.testDeleteNotes_TC_03()[pri:0, instance:education.volute.notes_testscripts.DeleteNote_TC_03@d62f43]">testDeleteNotes_TC_03</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:14:06</td>   <td>247561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.notes_testscripts.DeleteNote_TC_03@d62f43]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:14:07</td>   <td>249259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.EditPgm_TC_07@93dd95]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/02/22 09:14:14</td>   <td>255483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditPgm_TC_07.testEditPgm_TC_07()[pri:0, instance:education.volute.manage_pgm_testscripts.EditPgm_TC_07@93dd95]">testEditPgm_TC_07</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:17:01</td>   <td>422932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.EditPgm_TC_07@93dd95]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:17:03</td>   <td>425052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.AddPgm_TC_01@19c0f4a]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/02/22 09:17:15</td>   <td>436994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPgm_TC_01.testAddPgmTC_01()[pri:0, instance:education.volute.manage_pgm_testscripts.AddPgm_TC_01@19c0f4a]">testAddPgmTC_01</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:19:57</td>   <td>598483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.AddPgm_TC_01@19c0f4a]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:19:58</td>   <td>600135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.collaborate_testscripts.AddGroup_TC_01@41eaa2]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/02/22 09:20:13</td>   <td>614748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddGroup_TC_01.testAddGroup_TC_01()[pri:0, instance:education.volute.collaborate_testscripts.AddGroup_TC_01@41eaa2]">testAddGroup_TC_01</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:22:00</td>   <td>722330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.collaborate_testscripts.AddGroup_TC_01@41eaa2]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:22:03</td>   <td>724843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.my_journey_testscripts.LaunchLearningspace_TC_01@14b1c02]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/02/22 09:22:16</td>   <td>738336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchLearningspace_TC_01.testLaunchLearningSpace_TC_01()[pri:0, instance:education.volute.my_journey_testscripts.LaunchLearningspace_TC_01@14b1c02]">testLaunchLearningSpace_TC_01</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:24:25</td>   <td>866896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.my_journey_testscripts.LaunchLearningspace_TC_01@14b1c02]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:24:27</td>   <td>869349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.AddActivityPublicOpenPublished_TC_02@1622fdf]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/02/22 09:24:41</td>   <td>883399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddActivityPublicOpenPublished_TC_02.testAddActivityPublicOpenPublished_TC_02()[pri:0, instance:education.volute.manage_pgm_testscripts.AddActivityPublicOpenPublished_TC_02@1622fdf]">testAddActivityPublicOpenPublished_TC_02</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:27:18</td>   <td>1039673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.AddActivityPublicOpenPublished_TC_02@1622fdf]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:27:19</td>   <td>1041303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.AddLearningSpace_TC_04@83b407]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/02/22 09:27:29</td>   <td>1051054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddLearningSpace_TC_04.testAddLearningSpace_TC_04()[pri:0, instance:education.volute.manage_pgm_testscripts.AddLearningSpace_TC_04@83b407]">testAddLearningSpace_TC_04</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:30:05</td>   <td>1207127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.AddLearningSpace_TC_04@83b407]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:30:06</td>   <td>1208340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.DeletePgm_TC_08@19d1a19]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/02/22 09:30:17</td>   <td>1218475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeletePgm_TC_08.testDeletePgm_TC_08()[pri:0, instance:education.volute.manage_pgm_testscripts.DeletePgm_TC_08@19d1a19]">testDeletePgm_TC_08</td> 
  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:33:07</td>   <td>1388644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.manage_pgm_testscripts.DeletePgm_TC_08@19d1a19]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/02/22 09:33:09</td>   <td>1391367</td> <td title="&lt;&lt;SuperTestScript.backUpSteps()[pri:0, instance:education.volute.rooms_testscripts.LaunchRoom_TC_01@1baeedf]">&lt;&lt;backUpSteps</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12532671</td>   <td></td> </tr>
</table>
