<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd678c">  <td>18/09/07 11:20:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Story.SlidesStoryFacil()[pri:5, instance:education.volute.common_lib.Story@ee5251]">SlidesStoryFacil</td> 
  <td>main@2522868</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>18/09/07 11:21:55</td>   <td>86774</td> <td title="&lt;&lt;SuperTestScript.backUpSteps()[pri:0, instance:education.volute.common_lib.Story@ee5251]">&lt;&lt;backUpSteps</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2522868</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>18/09/07 11:21:52</td>   <td>83038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.postSteps()[pri:0, instance:education.volute.common_lib.Story@ee5251]">&lt;&lt;postSteps</td> 
<td>&nbsp;</td>  <td>main@2522868</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>18/09/07 11:20:18</td>   <td>-10387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.preSteps(java.lang.String)[pri:0, instance:education.volute.common_lib.Story@ee5251]">&gt;&gt;preSteps</td> 
<td>&nbsp;</td>  <td>main@2522868</td>   <td></td> </tr>
</table>
