<h2>Reporter output</h2><table><tr><td>About to begin executing ChromeTest</td></tr>
<tr><td>Test Method resides in education.volute.common_lib.Story</td></tr>
<tr><td>Test Status: Failed</td></tr>
<tr><td><a href='C:\Users\Volute\Desktop\VoluteAutomation\volute-automation\target\surefire-reports\failure_screenshots\SlidesStoryFacil_07_09_2018_11_21_50.png'> <img src='C:\Users\Volute\Desktop\VoluteAutomation\volute-automation\target\surefire-reports\failure_screenshots\SlidesStoryFacil_07_09_2018_11_21_50.png' height='100' width='100'/> </a></td></tr>
<tr><td>Completed executing ChromeTest</td></tr>
<tr><td>Backup is unsuccess</td></tr>
</table>